* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.account {
    background: #ffa500;
    width: 100%;
    height: 70px;
    color: #fff;
    position: relative;
    box-shadow: 0px -15px 20px 10px black;
}

.account .accountPic {
    width: 60px;
    height: 60px;
    padding: 5px 5px 5px 10px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.account .userPic {
    width: 40px;
    height: 40px;
    padding: 10px 24px 5px 5px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.account .accountName {
    position: absolute;
    left: 85px;
    font-size: 25px;
    line-height: 68px;
}

.account .userName {
    position: absolute;
    right: 10px;
    top: 52px;
    font-size: 10px;
    line-height: 12px;
}

.header {
    width: 100%;
    height: 70px;
}

.header .slider {
    width: calc(60% - 60px);
    float: left;
    padding: 10px 30px;
    text-align: center;
}

.header .search {
    width: 40%;
    float: left;
}

.header .search input{
    line-height: 24px;
    font-size: 16px;
    border-radius: 4px;
    width: calc(100% - 20px);
    margin: 22px 5px 0px;
    padding-left: 5px;
    border: 1px solid black;
}

.main {
    width: calc(100%);
    float: right;
    padding: 3px;
}

.main .charts {
    width: 70%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    flex-wrap: space-evenly;
    align-content: space-start;
    padding-left: 15px;
}

.main .charts>div {
    width: calc(30% - 30px);
    padding: 4px;
    min-width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0px 5px;
}

.main .charts>a {
    width: 30%;
    padding: 4px;
    min-width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.main .sidebar {
    width: 30%;
    float: right;
    overflow: hidden;
    max-width: 230px;
    padding-right: 2px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 10px;
    padding-top: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #000;
}

.alert {
    width: calc(100% - 20px);
    margin: 5px;
}

.alert-danger {
    background: #ff2d376b;
    border: 1px solid #ff2d37;
    color: #000;
    padding: 5px;
}

.alert-warning {
    background: #00a5dc79;
    border: 1px solid #00a5dc;
    color: #000;
    padding: 5px;
}

.rc-slider-handle{
    border: solid 2px #057855 !important;
}

.rc-slider-track{
    background-color: #057855 !important;
}

.turboHeading{
    margin: 20px 0px 5px 30px;
    font-size: 28px;
}

.maintenance{
    height: 200px;
    text-align: center;
}

.mainNumber{
    font-size: 40px;
}