* {
    margin: 0;
    padding: 0;
}

.account {
    background: #ffa500;
    width: 100px;
    height: 100%;
    float: left;
    text-align: center;
    border-right: 1px solid black;
    color: #fff;
    position: absolute;
}

.account img {
    width: 60px;
    height: 60px;
    padding-top: 5px;
}

.header {
    width: calc(100% - 101px);
    height: 50px;
    float: right;
}

.header .slider {
    width: calc(60% - 60px);
    float: left;
    padding: 10px 30px;
    text-align: center;
    margin-bottom: 30px;
}

.header .search {
    width: 40%;
    float: left;
}

.main {
    width: calc(100% - 107px);
    float: right;
    padding: 3px;
}

.main .charts {
    width: 70%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    flex-wrap: space-evenly;
    align-content: space-start;
}

.main .charts>div {
    width: 30%;
    padding: 4px;
}

.main .sidebar {
    width: 30%;
    background: #333;
    float: left;
}